*{ 
    font-family: '08SeoulNamsanB', '08SeoulNamsan vert', '12LotteMartHappyBold';
}/*전체 폰트를 서울 남산체로 한다.*/


/*header 부분*/
header {
    height: 170px;
    margin: 10px;
}

header img {
            position: absolute;
            top: 20px;
            left: 490px;
            bottom: 10px;
            }


/*nav 부분*/
nav ul{
    list-style: none;
    text-align: center;
    position: absolute;
    top: 160px;
    left: 295px;
}

nav ul li {
    display:inline; /*메뉴를 인라인으로 하여 좌우로 나열시킨다.*/
    padding:0 7px; letter-spacing: 0;
}

nav ul a {
    text-decoration:none; color: black; font-family: '08SeoulNamsanB', '08SeoulNamsan vert', '12LotteMartHappyBold';
}

nav ul a:hover {text-decoration: underline;} /*메뉴에 마우스를 갖다 대면 줄이 그어진다.*/

/*section 부분*/
section{
    margin-top: 10px;
    margin-right: 150px;
    margin-bottom:100px;
    margin-left: 120px;
    padding: 30px;
}
section img { 
    position: absolute;/*섹션의 이미지를 앱솔루트로 위치 고정을 시킨다.*/
    top: 240px;
    left: 260px;
 
}

 section article {
        position: absolute;
        top: 540px;
        left: 120px;
        right: 140px;
        padding: 30px;
    }

 section article fieldset {
     padding: 30px; /*필드셋과 여유가 있도록 패딩을 설정한다*/
     margin: 20px;
     letter-spacing: 1px; /*글자간 여유를 준다*/
 }